# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Xiaobing Luo
	email = luoxiaobing0926@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[sendemail]
	smtpencryption = tls
	smtpserverport = 587
	smtpserver = smtp.gmail.com
	smtpuser = luoxiaobing0926@gmail.com
[sendemail.linux]
	tocmd = "scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nol"
	cccmd = "scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nom"
[color]
	ui = auto
[core]
        abbrev = 12
	editor = vim
	filemode = false
[pretty]
        fixes = Fixes: %h (\"%s\")
[format]
	filenameMaxLength = 80
[alias]
	dc = describe --contains
	fp = format-patch -k -M -N
	b = branch -v
	ll = log --oneline
	last = log -1 HEAD --stat
	st = status -sb
[pull]
	rebase = false
